<div class="container">
  <div class="jumbotron">
    <h1>Stakeholder Survey</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia hic odio dolorem expedita alias adipisci sit possimus quam maiores facilis at odit placeat assumenda voluptatum similique sint voluptate sunt, in?</p>
  </div>
  <form class="form-horizontal">
  <fieldset>
  <!-- Form Name -->
  <legend class="text-center">{{$ctrl.survey.title}}</legend>
  <!-- Text input-->
  <div ng-repeat="(key, question) in $ctrl.survey.questions" class="form-group">
    <label class="col-md-4 control-label" for="textinput">{{question}}</label>
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="{{key}}" class="form-control input-md">
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="survey-submit"></label>
    <div class="col-md-8">
      <button id="survey-submit" name="survey-submit" class="btn btn-success">Submit</button>
      <button id="survey-cancel" name="survey-cancel" class="btn btn-danger">Cancel</button>
    </div>
  </div>
  </fieldset>
  </form>

</div>
